fastapi
uvicorn[standard]
websockets
sqlmodel
asyncpg
python-multipart
google-generativeai
python-dotenv
requests
flake8
pytest
reportlab
httpx
python-jose[cryptography]
passlib
bcrypt==4.0.1
python-multipart
psycopg2-binary
